/* This file will hold styles that are loaded using the same media query as the wide grid. */





/* NAVIGATION SYSTEMS */
/* Thematic Menu */
.ultimenu > li > a {
	padding-left: 1.25em !important;
	padding-right: 1.25em !important;
}
.tm-pollution {
	background-position: 20px 0;
}
.tm-invspecies {
	background-position: 20px -100px;
}
.tm-emergencies {
	background-position: 20px -200px;
}
.tm-biodiversity {
	background-position: 20px -300px;
}
.tm-seafluctuation {
	background-position: 20px -400px;
}
.tm-other {
	background-position: 20px -500px;
}

.tm-pollution.active {
	background-position: -180px 0;
}
.tm-invspecies.active {
	background-position: -180px -100px;
}
.tm-emergencies.active {
	background-position: -180px -200px;
}
.tm-biodiversity.active {
	background-position: -180px -300px;
}
.tm-seafluctuation.active {
	background-position: -180px -400px;
}
.tm-other.active {
	background-position: -180px -500px;
}
.tm-pollution:hover {
	background-position: -80px 0;
}
.tm-invspecies:hover {
	background-position: -80px -100px;
}
.tm-emergencies:hover {
	background-position: -80px -200px;
}
.tm-biodiversity:hover {
	background-position: -80px -300px;
}
.tm-seafluctuation:hover {
	background-position: -80px -400px;
}
.tm-other:hover {
	background-position: -80px -500px;
}



/* Navigation Menu */
.navigation-menu ul.menu {
	margin-right: 10px;
}
.navigation-menu ul.menu li {
	margin: 10px;
}

.navigation-menu li.leaf a {
	width: 40px;
	height: 40px;
	text-indent: -99999px;
	margin-left: 5px;
	margin-right: 5px;
}
.navigation-menu li a:link,
.navigation-menu li a:visited {
}

.navigation-menu li.leaf a.m-publish {
	background-position: 0 0;
}
.navigation-menu li.leaf a.m-search {
	background-position: 0 -50px;
}
.navigation-menu li.leaf a.m-files {
	background-position: 0 -100px;
}
.navigation-menu li.leaf a.m-stakeholders-projects {
	background-position: 0 -150px;
}
.navigation-menu li.leaf a.m-admin-tools {
	background-position: 0 -200px;
}
.navigation-menu li.leaf a.m-events {
	background-position: 0 -250px;
}
.navigation-menu li.leaf a.m-manage-projects {
	background-position: 0 -300px;
}
.navigation-menu li.leaf a.m-map {
	background-position: 0 -350px;
}
.navigation-menu li.leaf a.m-my-account {
	background-position: 0 -400px;
}


/* Toolbox Menu */
/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: 130px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 130px;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

