
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */


/* GLOBAL */
html {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body {
	margin: 0 !important;
}


#popup-content li {
	display: block;
	width: 100px;
	height: 140px;
	float: left;
	font-size: 10px;
	text-align: center;
	list-style-type: none;
	vertical-align: bottom;
}
#popup-content li a {
	display: block;
	padding-top: 60px;
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	background: url('img/navigation-popup-sprite.png') no-repeat;
}