/* This file will hold styles that are loaded using the same media query as the wide grid. */

body#tinymce {
	min-width: 560px !important;
}



/* NAVIGATION SYSTEMS */
/* Thematic Menu */
.thematic-menu-block {
	padding-left: 300px;
	width: 880px;
}
.thematic-menu-block ul.inline li {
	margin-right: 50px !important;
}
.thematic-menu-block a.tm-btn {
	width: 100px;
}
#tm-invspecies {
	width: 100px;
	height: 80px;
}
.tm-pollution {
	background-position: 0 0;
}
.tm-invspecies {
	background-position: 0 -100px;
}
.tm-emergencies {
	background-position: 0 -200px;
}
.tm-biodiversity {
	background-position: 0 -300px;
}
.tm-seafluctuation {
	background-position: 0 -400px;
}
.tm-other {
	background-position: 0 -500px;
}

.tm-pollution.active {
	background-position: -400px 0;
}
.tm-invspecies.active {
	background-position: -400px -100px;
}
.tm-emergencies.active {
	background-position: -400px -200px;
}
.tm-biodiversity.active {
	background-position: -400px -300px;
}
.tm-seafluctuation.active {
	background-position: -400px -400px;
}
.tm-other.active {
	background-position: -400px -500px;
}
.tm-pollution:hover {
	background-position: -200px 0;
}
.tm-invspecies:hover {
	background-position: -200px -100px;
}
.tm-emergencies:hover {
	background-position: -200px -200px;
}
.tm-biodiversity:hover {
	background-position: -200px -300px;
}
.tm-seafluctuation:hover {
	background-position: -200px -400px;
}
.tm-other:hover {
	background-position: -200px -500px;
}


/* Quick Menu */
.quick-menu ul.menu li.leaf {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0;
}
.quick-menu ul li.leaf.first {
	margin-left: 140px;
}
.quick-menu ul li.leaf.last {
	margin-right: 140px;
}


/* Navigation Menu */
.navigation-menu ul.menu {
	margin-right: 10px;
}
.navigation-menu ul.menu li {
	margin: 10px;
}

.navigation-menu li.leaf a {
	width: 40px;
	height: 40px;
	text-indent: -99999px;
	margin-left: 5px;
	margin-right: 5px;
}
.navigation-menu li a:link,
.navigation-menu li a:visited {
}

.navigation-menu li.leaf a.m-publish {
	background-position: 0 0;
}
.navigation-menu li.leaf a.m-search {
	background-position: 0 -50px;
}
.navigation-menu li.leaf a.m-files {
	background-position: 0 -100px;
}
.navigation-menu li.leaf a.m-stakeholders-projects {
	background-position: 0 -150px;
}
.navigation-menu li.leaf a.m-admin-tools {
	background-position: 0 -200px;
}
.navigation-menu li.leaf a.m-events {
	background-position: 0 -250px;
}
.navigation-menu li.leaf a.m-manage-projects {
	background-position: 0 -300px;
}
.navigation-menu li.leaf a.m-map {
	background-position: 0 -350px;
}
.navigation-menu li.leaf a.m-my-account {
	background-position: 0 -400px;
}


/* Toolbox Menu */
/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: 110px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 130px;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

